//vars

@font-face
    font-family: 'GothamPro'
    src: url('../fonts/gothampro_black.woff2') format('woff2'), url('../fonts/gothampro_black.woff') format('woff'), url('../fonts/gothampro_black.ttf') format('truetype')
    font-weight: 900
    font-style: normal
@font-face
    font-family: 'GothamPro'
    src: url('../fonts/gothampro_blackitalic.woff2') format('woff2'), url('../fonts/gothampro_blackitalic.woff') format('woff'), url('../fonts/gothampro_blackitalic.ttf') format('truetype')
    font-weight: 900
    font-style: italic
@font-face
    font-family: 'GothamPro'
    src: url('../fonts/gothampro_bold.woff2') format('woff2'), url('../fonts/gothampro_bold.woff') format('woff'), url('../fonts/gothampro_bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
@font-face
    font-family: 'GothamPro'
    src: url('../fonts/gothampro_bolditalic.woff2') format('woff2'), url('../fonts/gothampro_bolditalic.woff') format('woff'), url('../fonts/gothampro_bolditalic.ttf') format('truetype')
    font-weight: 700
    font-style: italic
@font-face
    font-family: 'GothamPro'
    src: url('../fonts/gothampro_medium.woff2') format('woff2'), url('../fonts/gothampro_medium.woff') format('woff'), url('../fonts/gothampro_medium.ttf') format('truetype')
    font-weight: 500
    font-style: normal
@font-face
    font-family: 'GothamPro'
    src: url('../fonts/gothampro_mediumitalic.woff2') format('woff2'), url('../fonts/gothampro_mediumitalic.woff') format('woff'), url('../fonts/gothampro_mediumitalic.ttf') format('truetype')
    font-weight: 500
    font-style: italic
@font-face
    font-family: 'GothamPro'
    src: url('../fonts/gothampro.woff2') format('woff2'), url('../fonts/gothampro.woff') format('woff'), url('../fonts/gothampro.ttf') format('truetype')
    font-weight: 400
    font-style: normal
@font-face
    font-family: 'GothamPro'
    src: url('../fonts/gothampro_italic.woff2') format('woff2'), url('../fonts/gothampro_italic.woff') format('woff'), url('../fonts/gothampro_italic.ttf') format('truetype')
    font-weight: 400
    font-style: italic
@font-face
    font-family: 'GothamPro'
    src: url('../fonts/gothampro_light.woff2') format('woff2'), url('../fonts/gothampro_light.woff') format('woff'), url('../fonts/gothampro_light.ttf') format('truetype')
    font-weight: 300
    font-style: normal
@font-face
    font-family: 'GothamPro'
    src: url('../fonts/gothampro_lightitalic.woff2') format('woff2'), url('../fonts/gothampro_lightitalic.woff') format('woff'), url('../fonts/gothampro_lightitalic.ttf') format('truetype')
    font-weight: 300
    font-style: italic
@font-face
    font-family: 'lg'
    src: url('../fonts/lg.woff') format('woff'), url('../fonts/lg.ttf') format('truetype')

@font-face
    font-family: 'Great Vibes'
    src: url('../fonts/GreatVibes-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-Thin.otf') format('opentype')
    font-weight: 100
    font-style: normal
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-ThinItalic.otf') format('opentype')
    font-weight: 100
    font-style: italic
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-ExtraLight.otf') format('opentype')
    font-weight: 200
    font-style: normal
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-ExtraLightItalic.otf') format('opentype')
    font-weight: 200
    font-style: italic
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-Light.otf') format('opentype')
    font-weight: 300
    font-style: normal
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-LightItalic.otf') format('opentype')
    font-weight: 300
    font-style: italic
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-Regular.otf') format('opentype')
    font-weight: 400
    font-style: normal
//@font-face
//    font-family: 'Inter'
//    src: url('../fonts/Inter_28pt-Regular.ttf') format('truetype')
//    font-weight: 400
//    font-style: normal
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-Medium.otf') format('opentype')
    font-weight: 500
    font-style: normal
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-MediumItalic.otf') format('opentype')
    font-weight: 500
    font-style: italic
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-SemiBold.otf') format('opentype')
    font-weight: 600
    font-style: normal
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-SemiBoldItalic.otf') format('opentype')
    font-weight: 600
    font-style: italic
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-Bold.otf') format('opentype')
    font-weight: 700
    font-style: normal
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-BoldItalic.otf') format('opentype')
    font-weight: 700
    font-style: italic
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-ExtraBold.otf') format('opentype')
    font-weight: 800
    font-style: normal
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-ExtraBoldItalic.otf') format('opentype')
    font-weight: 800
    font-style: italic
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-Black.otf') format('opentype')
    font-weight: 900
    font-style: normal
@font-face
    font-family: 'Inter'
    src: url('../fonts/Inter-BlackItalic.otf') format('opentype')
    font-weight: 900
    font-style: italic
